<?php

use Bitmarshals\InstantUssd\Mapper;
use Bitmarshals\InstantUssd\UssdMenuConfig;
use Bitmarshals\InstantUssd;

return [
    "instant_ussd" => [
        "ussd_event_listener" => InstantUssd\UssdEventListener::class,
        'db' => [
            'driver' => 'Mysqli', // Mysqli, Sqlsrv, Pdo_Sqlite, Pdo_Mysql, Pdo(= Other PDO Driver)
            'database' => 'instant_ussd',
            'username' => '',
            'password' => '',
            //'hostname' => "",
            //'port' => "",
            //'charset' => "",
            'options' => [
                // see - http://bit.ly/2byorhL
                'buffer_results' => true,
            ]
        ],
        'ussd_menus' => [
            "home_instant_ussd" => [
                "title" => "Welcome to InstantUssd",
                "is_skippable" => false,
                "footer" => "Questions? Call +254712688559",
                "menu_items_ranking_type" => UssdMenuConfig::RANKING_TYPE_PREDETERMINED,
                "valid_values" => range(1, 2),
                "loopset_name" => "",
                // menu_items
                "menu_items" => [
                    [
                        // empty next_menu_id will force an exit
                        "next_menu_id" => "",
                        "description" => "Register"
                    ],
                    [
                        "next_menu_id" => "",
                        "description" => "My account"
                    ]
                ]
            ]
        ],
        "service_manager" => [
            "factories" => [
                "dbAdapter" => Zend\Db\Adapter\AdapterServiceFactory::class,
                Mapper\SkippableUssdMenuMapper::class => Mapper\SkippableUssdMenuMapperFactory::class,
                Mapper\UssdLoopMapper::class => Mapper\UssdLoopMapperFactory::class,
                Mapper\UssdMenusServedMapper::class => Mapper\UssdMenusServedMapperFactory::class
            ]
        ]
    ]
];
